* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(219, 150, 45);
  background-color: rgb(222, 223, 226);
}

.container {
  width: 80%;
}

.header {
  background-color: blue;
}

/* Your code goes here */
