*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.flex{
    display: flex;
}
header{
    width:100%;
    background-color: #C90734;
}


nav{
    width: 60%;
    margin:auto;
    background-color: green;
    text-align: right;
}

a{
color:#fff;
text-decoration: none;
font-size: 1,25 rem;
padding:10px;
}