.text-rn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #fff;
	text-align: left;
}
.text-rn a:link {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: underline;
}
.text-rn a:visited {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	text-decoration: underline;
}
strong {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}
.bg {
	background-image: url(../../images/bg3.jpg);
	background-repeat: no-repeat;
	height: 630px;
	width: 960px;
	background-attachment: fixed;
	background-position: center top;
}
.padding {
	celpadding:4px;
	padding-top: 15px;
	padding-left: 10px;
	background-image: url(images/nav_bg.gif);
	background-repeat: repeat;
}
