@charset "UTF-8";

/* Layout Medium Screens */

header {
	height: 200px;
	background: url(../images/banner_medium.jpg) no-repeat 90% 0px;}



nav {  
top: 122px; 
background-image:none;
}


nav a { margin-right: 10px; }



.promo_container { padding: 0px 20px 15px 20px; }
.promo_container .promo { background-position: 0px 0px; }
.promo_container .promo .content { padding: 45px 30px 20px 0px; }


body { background-image: none; }


.home_left { 
float:left;
width:100%;

 }
 
 
#visual_home{
	top: 157px;
	width: 100%;
	display: block;
	position: absolute;
 }
 
 
#content_wrapper
{ 
margin:220px 10px 10px 10px;
 }
 
 
 /*bol
 #subnav1 {  
top: 480px; 
background-image:none;
}


#subnav1 nav a { margin-right: 20px; }
 
 */